@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    user-select: none;

   
}

html, body{
     
    /* Chrome, Edge and Safari */
    *::-webkit-scrollbar {
        height: 3px;
        width: 3px;
      }
      *::-webkit-scrollbar-track {
        border-radius: 20px;
        background-color: #DFE9EB;
      }
      
      *::-webkit-scrollbar-track:hover {
        background-color: #B8C0C2;
      }
      
      *::-webkit-scrollbar-track:active {
        background-color: #B8C0C2;
      }
      
      *::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #000000;
      }
      
      *::-webkit-scrollbar-thumb:hover {
        background-color: #000000;
      }
      
      *::-webkit-scrollbar-thumb:active {
        background-color: #2151D5;
      }

}


.rodape{
    position: fixed;
    bottom: 0;
}

.anime{
    transition: all 0.3s;
}


    /* Chrome, Edge and Safari */
    *::-webkit-scrollbar {
        height: 3px;
        width: 3px;
      }
      *::-webkit-scrollbar-track {
        border-radius: 20px;
        background-color: #DFE9EB;
      }
      
      *::-webkit-scrollbar-track:hover {
        background-color: #B8C0C2;
      }
      
      *::-webkit-scrollbar-track:active {
        background-color: #B8C0C2;
      }
      
      *::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #000000;
      }
      
      *::-webkit-scrollbar-thumb:hover {
        background-color: #000000;
      }
      
      *::-webkit-scrollbar-thumb:active {
        background-color: #2151D5;
      }





/* .taskContainer{
    height: 600px;

}


@media screen and (min-height: 1000px) {
    .taskContainer{
        height: 900px;
    }
}

@media screen and (max-height: 800px) {
    .taskContainer{
        height: 95%;
    }
}

@media screen and (max-height: 710px) {
    .taskContainer{
        height: 75%;
    }
} */